<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>About</title>
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <!-- Nav Section Start -->
    <nav
      class="navbar navbar-expand-lg navbar-dark text-light shadow"
      style="background-color: #131842"
    >
      <div class="container"  style="height: 60px;">
        <a class="navbar-brand" style="font-size: 30px;" href="/"><b>MBCLAB</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link " href="/">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/mappp">Webgis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about">Tentang</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Lainnya
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Layanan</a></li>
                <li><a class="dropdown-item" href="#">Kontak</a></li>
                <li>
                  <a class="dropdown-item" href="">Pengaturan</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Nav Section End -->

    <div class="container">
      <div class="row text-center mt-4">
        <div  class="title mb-2 ">
          <h3 style='border-color: #131842; text-align: left; color: #131842;'>
              <span style='padding-left: 0px; font-size: 28px;'><b>Tentang Kami</b></span>
          </h3>
          <div class="hosizontal-line" style="width: 180px; height: 5px; background-color: #131842;">
          </div>
          <div class="hosizontal-line" style="width: auto; height: 4px; background-color: #131842;">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-2" style="display: flex; align-items: center;">
      <p style="flex: 1; font-size: 12px;">
        Website ini adalah platform digital yang menghubungkan berbagai museum di kota Bandung, Jawa Barat. Situs ini menyediakan informasi lengkap tentang koleksi, sejarah, dan kegiatan di setiap museum, memungkinkan pengunjung untuk menelusuri dan merencanakan kunjungan mereka dengan mudah.
        <br><br><br>
        Bandung, dengan kekayaan budaya dan sejarahnya, memiliki museum-museum terkenal seperti Museum Geologi dan Museum Sri Baduga. Melalui MuseumHub Bandung, pengunjung dapat mengakses informasi mengenai lokasi, jam operasional, dan tiket masuk untuk berbagai museum, serta mempelajari warisan budaya kota ini.
        <br><br><br>
        Selain menjadi sumber informasi, MuseumHub Bandung juga berfungsi sebagai platform interaktif bagi komunitas museum, memungkinkan pengguna untuk berbagi pengalaman, ulasan, dan berdiskusi tentang pameran dan acara yang sedang berlangsung.
      </p>
      <img src="https://i.pinimg.com/originals/d3/fa/d5/d3fad5a549db3c4f86bb90e97b62e911.jpg" alt="Museum" style="width: 500px; height: 450px; object-fit: cover; margin-left: 20px;">
  </div>

  <footer style="background-color: #131842; text-align: center; padding: 1rem 0; margin-top: 1rem;">
    <div class="social" style="padding: 1rem 0; ">
      <a href="#" style="color: #ffffff; margin: 1rem;"><i data-feather="instagram"> </i></a>
      <a href="#" style="color: #ffffff; margin: 1rem;"><i data-feather="github"></i></a>
      <a href="#" style="color: #ffffff; margin: 1rem;"><i data-feather="facebook"></i></a>
    </div>

    <div class="link">
      <a href="/">Beranda</a>
      <a href="/mappp">Webgis</a>
      <a href="/about">Tentang</a>
    </div>

    <div class="credit">
      <p style="color: #ffffff;">&copy; 2024<span> Nandi Triana. Semua cinta dilindungi</span></p>
    </div>
  </footer>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
